* {
  margin: 0;
  padding: 0;
}
header img {
  display: block;
  margin: 75px 0px 0px 360px;
}
body {
  background-color: black;
}
span {
  color: #9747ff;
}
h1 {
  color: #ffffff;
  font-family: "unbounded";
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  margin-top: 169px;
  width: 792px;
  display: block;
  margin: 0 auto;
}
p {
  color: #ffffff;
  font-family: "poppins";
  font-size: 24px;
  text-align: center;
  width: 792px;
  display: block;
  margin: 24px auto 40px;
}
section a {
  color: #ffffff;
  font-size: 24px;
  width: 340px;
  height: 66px;
  display: block;
  text-align: center;
  font-family: "poppins";
  font-weight: 600px;
  border-radius: 36px;
  text-decoration: none;
  background-color: #9747ff;
  line-height: 66px;
  display: block;
  margin: 0 auto;
}

section img {
  width: 792px;
  height: 446px;
  display: block;
  margin: 40px auto;
}

/* footer {
  background-color: #111;
  padding: 20px 0;
  margin-top: 60px;
} */
footer .social {
  text-align: center;
}
footer img {
  width: 40px;
  display: inline-block;
  margin: 100px 20px 0px 0px;
  text-align: center;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 768px) {
  header img {
    margin: 65px 0px 0px 60px;
    display: block;
  }

  h1 {
    width: 648px;
    margin-top: 72px;
  }
  p {
    width: 648px;
  }
  a {
    width: 340px;
    font-size: 24px;
  }

  section img {
    width: 648px;
  }
}
@media (max-width: 375px) {
  header img {
    display: block;
    margin: 32px 0px 0px 16px;
  }

  h1 {
    width: 341px;
    font-size: 40px;
  }
  p {
    width: 341px;
    font-size: 20px;
  }

  a {
    width: 251px;
    font-size: 20px;
  }

  section img {
    width: 341px;
    height: 231px;
  }
}
